---
layout: default
data_file: trasparenza.yml
---
<div class="container">
    <div class="table-xxl">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Tipo</th>
              <th scope="col">Nome</th>
              <th scope="col">Mittente</th>
              <th scope="col">Data Atto</th>
              <th scope="col">Risorse</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mario</td>
              <td>Verdi</td>
              <td>mario.verdi</td>
              <td>mario.verdi</td>
              <td>mario.verdi</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Francesco</td>
              <td>Bianchi</td>
              <td>francesco.bianchi</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Alessandro</td>
              <td>Rossi</td>
              <td>alessandro.rossi</td>
            </tr>
          </tbody>
        </table>
    </div>
</div>
