---
layout: default
---
<div class="container">
    <div class="table-xxl">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Tipo</th>
              <th scope="col">Nome</th>
              <th scope="col">Mittente</th>
              <th scope="col">Data Atto</th>
              <th scope="col">Link</th>
            </tr>
          </thead>
          <tbody>
            {% for item in site.data.trasparenza %}
            <tr>
              <th scope="row">{{ forloop.index }}</th>
              <td>{{ item.tipo }}</td>
              <td>{{ item.nome }}</td>
              <td>{{ item.mittente }}</td>
              <td>{{ item.data_atto | default: '-' }}</td>
              <td>{% if item.link %}<a href="{{ item.link }}">link</a>{% else %}-{% endif %}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
</div>
